<!DOCTYPE html><html lang="en">
<head>   
<meta charset="utf-8" />   
<title>Power and energy consumption</title>

<script src="static/chart.js"></script>
<!--
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
-->

</head>
<body>

  Latest reading {{current}}
  <canvas id="today" width="600" height="400"></canvas>
  <canvas id="two_days" width="600" height="400"></canvas>

<script>
  // Use templates to convert python data into js
  // NB https://stackoverflow.com/questions/45132524/python-passing-a-list-of-dict-in-javascript-flask#45132694
  var two_days_data = {
      datasets:[
	  {
	      label: "today",
	      data: JSON.parse('{{today | tojson}}'),
	      fill: false,
	      borderColor: 'rgb(75, 222, 192)',
	  },
	  {
	      label: "yesterday",
	      data: JSON.parse('{{yesterday | tojson}}'),
	      borderColor: 'rgba(5, 5, 100, 0.4)',	      
	      fill: false,
	  }
      ]
  };

  var todays_data = {
      datasets: [
	  {
	      label: '',
	      data: JSON.parse('{{today_abs | tojson}}'),
	      borderColor: 'rgb(75, 222, 192)'
	  }
      ]
  };
	  
  // Updated 6/15/21, from chartjs.org docs
  const config = {
      type: 'scatter',
      data: two_days_data,
      options: {
	  plugins: {
	      title: {
		  text: 'Yesterday versus today',
		  display: true
	      }
	  },
	  responsive: true,
	  scales: {
	      x: {
		  display: true,
		  max: 24,
		  title: {
		      display: true,
		      text: 'Hour of the day'
		  }
	      },
              y: {
		  title: {
		      display: true,
		      text: 'watts (pos is use, negative is generating)'
		  }
              }
	  }
      }
  };
  var chart = new Chart(document.getElementById("two_days"), config);

  
  const today_only_config = {
      type: 'line',
      data: todays_data,
      options: {
	   plugins: {
              title: {
                  text: 'Household power today',
                  display: true
              }
          },
          responsive: true,
          scales: {
              x: {
                  display: true,
              },
              y: {
                  title: {
                      display: true,
                      text: 'watts (pos is use, negative is generating)'
                  }
              }
          }
      }
  };
  var today_chart = new Chart(document.getElementById("today"), today_only_config);
 
</script>
</body></html>
